//
//  Base{{{serviceName}}}Logic
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
#import "MVYDefines.h"
#import "AFHTTPRequestOperation.h"
{{#imports}}
#import "{{request.name}}.h"
#import "{{response.name}}.h"
{{/imports}}
#import "Cache.h"
#import "BaseLogic.h"

// Definimos macro para log
#ifndef _ModelGenLog

#ifdef SERVICE_DEBUG
 #define _ModelGenLog(...) NSLog(__VA_ARGS__)
#else
 #define _ModelGenLog(...) do { } while (0)
#endif

#endif // _ModelGenLog

#define AFNETWORKING_ALLOW_INVALID_SSL_CERTIFICATES 1

@interface Base{{{serviceName}}}Logic : BaseLogic

{{#service.messages}}
@property (nonatomic, assign) id<Cache> {{method}}Cache;
{{/service.messages}}

{{#service.messages}}

/**
* Method {{method}}: {{description}}
* @param {{request.javaInstanceName}} Service request
* @returns {{response.type}} Service response
*/
- (void){{method}}:({{request.name}} *){{request.javaInstanceName}} onSuccess:(void(^)(NSInteger responseCode,{{response.name}} *response))onSucces onError:(void(^)(NSError *error))onError;
-({{response.name}} *) {{method}}DTOFromOperation:(AFHTTPRequestOperation *)operation withError:(NSError **)error;



{{/service.messages}}
@end