//
//  {{{dto.name}}}.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
#import "base/Base{{{dto.name}}}.h"


@interface {{{dto.name}}} : Base{{{dto.name}}}


@end