//
//  {{{dto.daoClassName}}}.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
{{#dto.objectFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectFields}}
{{#dto.objectArrayFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectArrayFields}}
#import "{{{dto.name}}}.h"

@interface {{{dto.daoClassName}}} : NSObject

// Get the shared instance and create it if necessary.
+ ({{{dto.daoClassName}}} *)sharedInstance;

// Establece valores a partir de un NSDictionary
-({{{dto.name}}} *) readFromDictionary:(NSDictionary *)dict;

// Establece valores a partir de un NSArray
-(NSArray *) readFromDictionaryArray:(NSArray *)dictArray;

// Escribe json a partir de un Objeto
-(NSDictionary *) writeToDictionary:({{{dto.name}}} *)instance;

@end