//
//  {{{serviceName}}}Logic.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Service Generator
//

#import <Foundation/Foundation.h>
#import "GenDefines.h"
#import "Base{{serviceName}}Logic.h"
{{#imports}}
#import "{{request.name}}.h"
#import "{{response.name}}.h"
{{/imports}}

@interface {{{serviceName}}}Logic : Base{{{serviceName}}}Logic
  // Get the shared instance and create it if necessary.
+ ({{{serviceName}}}Logic *)sharedInstance;


@end