//
//  {{{dto.name}}}.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Service Generator
//

#import <Foundation/Foundation.h>
#import "Base{{{dto.name}}}.h"

@interface {{{dto.name}}} : Base{{{dto.name}}}

@end