## 
## DTO - DTO ANDROID 
## 
/**
  ${className}
  ${projectName}

  Created by Generator on 19/01/12.
  Copyright (c) 2012 Mobivery. All rights reserved.
*/
package ${packagename}.model.dto;

#foreach($import in $extraImports) 
$import
#end
import ${packagename}.model.dto.base.${projectName}DTOBundle;

/**
 * DTO que define la clase ${className}
 */
public final class ${className} extends ${projectName}DTOBundle.Base${className}
{
		
}
 