## 
## Helper de servicio
## 

/**
  ${projectName}Helper

  Created by Generator on 19/01/12.
  Copyright (c) 2012 Mobivery. All rights reserved.
*/
package ${packagename}.logic;

import org.apache.http.HttpResponse;
import org.apache.http.client.CookieStore;
import org.apache.http.client.methods.HttpRequestBase;
import org.apache.http.impl.client.DefaultHttpClient;
import org.apache.http.protocol.HttpContext;

public class ${projectName}Helper
{
	private static ${projectName}Helper instance=new ${projectName}Helper();
	
	private ${projectName}Helper() {
	} 
	public static ${projectName}Helper getInstance() {
		return instance;
	}
	public String preInjectURLParameters(String url,Object request) {
		return url;
	}
	public String postInjectURLParameters(String url,Object request) {
		return url;
	}
	public void preExecute(DefaultHttpClient client, HttpRequestBase request, CookieStore cookieStore, HttpContext context) {	
		
	}
	public void postExecute(DefaultHttpClient client, HttpRequestBase request, HttpResponse response, CookieStore cookieStore) {
	
	}	
	public String preprocessResponse(String responseString) {
		return responseString;
	}
}
