//
//  ${className}.h
//  ${projectName}
//  Version: ${version}
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
#foreach ($extraImport in $extraImports)
#import "${extraImport}.h"
#end
#import "${mainClassName}.h"

@interface ${className} : NSObject 

// Get the shared instance and create it if necessary.
+ (${className} *)sharedInstance;

// Establece valores a partir de un NSDictionary
-(${mainClassName} *) readFromDictionary:(NSDictionary *)dict;

// Establece valores a partir de un NSArray
-(NSArray *) readFromDictionaryArray:(NSArray *)dictArray;

// Escribe json a partir de un Objeto
-(NSDictionary *) writeToDictionary:(${mainClassName} *)instance;

@end