//
//  ${methodUcase}Task.h
//  ${projectName}
//  Version: ${version}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
#import "${requestDTO}.h"
#import "${responseDTO}.h"


@interface ${methodUcase}Task : NSObject 

+ (void) ${method}TaskForRequest:(${requestDTO} *)request completed:(void(^)(${responseDTO} *response))completedBlock error:(void(^)(NSError *error))errorBlock;

@end