//
//  {{{className}}}.m
//  {{{projecyName}}}
//  Version: {{{version}}}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import "{{{dto.name}}}.h"

@implementation {{{dto.name}}}

     // Creates a non-mutable copy of this DTO Object
     -(id)copyWithZone:(NSZone *)zone
     {
        id copy=[[[self class] alloc] init];
        if(copy)
        {
            {{#dto.fields}}
            [copy set{{{nameUcase}}}:[self.{{{name}}} copyWithZone:zone]];
            {{/dto.fields}}
        }
        return copy;
     }

     // Creates a mutable copy of this DTO Object
     -(id)mutableCopyWithZone:(NSZone *)zone
     {
        id copy=[[[self class] alloc] init];
        if(copy)
        {
            {{#dto.baseFields}}
            [copy set{{{nameUcase}}}:self.{{{name}}}];
            {{/dto.baseFields}}
            {{#dto.baseArrayFields}}
            [copy set{{{nameUcase}}}:[self.{{{name}}} mutableCopyWithZone:zone]];
            {{/dto.baseArrayFields}}
            {{#dto.objectFields}}
            [copy set{{{nameUcase}}}:[self.{{{name}}} mutableCopyWithZone:zone]];
            {{/dto.objectFields}}
            {{#dto.objectArrayFields}}
            [copy set{{{nameUcase}}}:[self.{{{name}}} mutableCopyWithZone:zone]];
            {{/dto.objectArrayFields}}
        }
        return copy;
     }

@end
 