//
//  {{{dto.name}}}.h
//  {{{projectName}}}
//  Version: {{{version}}}
//
//  Created by Mobivery
//  Copyright (c) 2012 Mobivery. All rights reserved.
//

#import <Foundation/Foundation.h>
{{#dto.objectFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectFields}}
{{#dto.objectArrayFields}}
#import "{{{iosBaseTypeSingular}}}.h"
{{/dto.objectArrayFields}}


@interface {{{dto.name}}} : NSObject <NSCopying>


{{#dto.fields}}
  @property (nonatomic, strong) {{{typeIOS}}} *{{{name}}};	///< {{{comment}}}.
{{/dto.fields}}


@end